<p>
  <mat-toolbar color="warn">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <span >Ecommerce shopping center</span>
    <span class="example-spacer"></span>
    <a routerLink="/categories" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Categories</a>
    <a routerLink="/login" class="nav-link" routerLinkActive="active">Login</a>
    <a routerLink="/cart" class="nav-link" routerLinkActive="active">Cart</a>
  </mat-toolbar>
</p>