<!-- <div class="header">
<p>
  <mat-toolbar color="warn">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <span >Ecommerce shopping center</span>
    <span class="example-spacer"></span>

    <div class="search-form">
      <input matInput type="text" placeholder="search products here"/>
      <button mat-button>
        <span class="material-icons">
        search
        </span>
      </button>
    </div>


    <span class="example-spacer"></span>
    <a routerLink="/categories" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Categories</a>
    <a routerLink="/login" class="nav-link" routerLinkActive="active">Login</a>
     <a routerLink="/cart" class="nav-link" routerLinkActive="active">Cart</a> 
  </mat-toolbar>
</p>
</div> -->

<mat-toolbar color="warn">
  <mat-toolbar-row>
    <div class="one">
    <mat-icon>add_shopping_cart</mat-icon>
    <span>Ecommerce shopping center</span>
  </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <a routerLink="/categories" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Categories</a>
    <a routerLink="/login" class="nav-link" routerLinkActive="active">Login</a>
     <a routerLink="/cart" class="nav-link" routerLinkActive="active">Cart</a> 

     <!-- <div class="search-form">
     <button><input matInput type="text" placeholder="search products here"/></button> 
      <button mat-button>
        <mat-icon> search </mat-icon>
      </button>
    </div> -->

    <!-- <button class="search"><input type="text" placeholder="search products here"/><button class="buttton"><mat-icon> search </mat-icon></button></button> -->
 
  </mat-toolbar-row>