/* .example-spacer {
  flex: 1 1 auto;
} */
.nav-link {
  color: black;
}
.active {
  color: white;
}
.header {
  margin-bottom: 0;
}
.search {
  margin-left: 500px;
}
.one {
  margin: auto;
  font-style: italic;
}
.buttton {
  background-color: darkgoldenrod;
}
.super {
  background-color: lawngreen;
}
