<!-- 

<mat-toolbar class="super" >
  <mat-toolbar-row>
    <div class="one">
    <mat-icon>add_shopping_cart</mat-icon>
    <span>Ecommerce shopping center</span>
  </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <a routerLink="/categories" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Categories</a>
    <a routerLink="/login" class="nav-link" routerLinkActive="active">Login</a>
     <a routerLink="/cart" class="nav-link" routerLinkActive="active">Cart</a> 
     <a routerLink="/order" (click)="return()"class="nav-link" routerLinkActive="active">Returns and Orders </a> 

    <a href="#" class="btn btn-primary btn-lg active , search" role="button" aria-pressed="true"><input type="text" placeholder="search products here"/></a>
    <a href="#" class="btn btn-secondary btn-lg active " role="button" aria-pressed="true"><mat-icon> search </mat-icon></a>
   
  </mat-toolbar-row>   -->

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Ecommerce shop</a>
      <form class="form-inline mt-2 mt-md-0 search">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
      </form>     
        <button class="navbar-toggler nav-options" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/categories">Categories<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Sign-Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart">Cart</a>
          </li>
        </ul>
        
      </div>
  
    </nav>
  </header>
  