.active {
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.nav-options {
  margin-left: 500px;
}
header {
  margin-bottom: 50px;
}

.header_text {
  color: #ffc107;
}

a:hover {
  color: white;
}
