<div class="card" style="width: 30rem;">
     <div class="card-body">
       <strong>LOGIN</strong> <hr>

       <!-- <mat-icon>redeem</mat-icon> -->
    <mat-divider></mat-divider>
       <p>
        <mat-form-field appearance="outline">
          <mat-label> Email address or mobile number </mat-label>
          <input class="input" matInput placeholder="email or mobile">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label> Your Password </mat-label> 
          
          <input class="input" matInput placeholder="password">
         
        </mat-form-field>
      </p>
     
        
        <button type="submit" style="color: black;">Submit</button>
      
    </div>
  </div> 

  <div class="card2" style="width: 30rem;">
 <strong class="str">New to Ecommerce</strong>
<hr>
<p>
    <mat-form-field appearance="outline">
     <button class="input"> Create New Ecommerce Account </button>
    </mat-form-field>
  </p>
</div>
