<!-- <h1>Your Cart</h1>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Product Name</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle> 
    </mat-card-header>
    <img mat-card-image src="" alt="product image">
    <mat-card-content>
      <p>
        Product details
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Buy</button>
      <button mat-button>Remove</button>
    </mat-card-actions>
  </mat-card>
   -->

   <h1>Cart works</h1>